

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an text logo -->
        <h1 class="text-light"><a href="#header"><span>WE TRANSLATE</span></a></h1>
        
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="#intro">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#contact">Contact Us</a></li>
          <li class="get-started"><a href="#get-started">Get Started</a></li>
        
          
        </ul>
      </nav><!-- .main-nav -->

    </div>
  </header><!-- #header -->

